<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="mainLog" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}" 
		        encoding="utf-8" fileName="Logs/${shortdate}.txt" />
		<target xsi:type="ColoredConsole" name="consoleLog" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}"
             useDefaultRowHighlightingRules="false" >
		  <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
		  <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
		  <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
		  <highlight-word text="INFO" condition="level == LogLevel.Info" backgroundColor="Green" foregroundColor="White" />
		  <highlight-word regex="ERROR" condition="level == LogLevel.Error" backgroundColor="Red" foregroundColor="White"  />
		  <highlight-word regex="WARN" condition="level == LogLevel.Warn" backgroundColor="Yellow" foregroundColor="Red"/>
		  <highlight-word text="|" foregroundColor="White"/>

		  <highlight-word regex="^.{24}"  foregroundColor="Magenta" />
		  <highlight-word regex="\d"  foregroundColor="Cyan"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="mainLog" />
		<logger name="*" minlevel="Info" writeTo="consoleLog" />
	</rules>
</nlog>